.founders-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.founders-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.founders-navlink {
  display: contents;
}
.founders-text {
  color: #0aa912;
  text-decoration: none;
}
.founders-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.founders-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.founders-navlink1 {
  text-decoration: none;
}
.founders-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-navlink5 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-navlink6 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-navlink7 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.founders-burger-menu {
  display: none;
}
.founders-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.founders-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.founders-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.founders-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.founders-logo {
  height: 2rem;
}
.founders-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.founders-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.founders-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.founders-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.founders-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.founders-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.founders-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.founders-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.founders-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.founders-login {
  margin-right: var(--dl-space-space-twounits);
}
.founders-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.founders-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.founders-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.founders-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.founders-details1 {
  width: var(--dl-size-size-maxwidth);
  height: 894px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: 42px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  background-image: linear-gradient(to right, #bdc3c7 0%, green 100%);
}
.founders-container1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.founders-details-heading {
  width: 80%;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.founders-details-sub-heading {
  color: var(--dl-color-gray-400);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}

.vansh-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  background-color: gray;
  border-radius: 100%;
  border-width: 20px;
  border-color: var(--dl-color-gray-900);
}

.founders-details-image {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY5OTc2MzUzNnw&ixlib=rb-4.0.3&q=80&w=400');
  background-position: center;
}
.founders-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width: 991px) {
  .founders-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .founders-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .founders-desktop-menu {
    display: none;
  }
  .founders-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .founders-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .founders-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .founders-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .founders-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .founders-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .founders-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .founders-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .founders-details-heading {
    text-align: center;
  }
  .founders-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .founders-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .founders-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .founders-mobile-menu {
    padding: 16px;
  }
}
