.plants-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.plants-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.plants-navlink {
  display: contents;
}
.plants-text {
  color: #0aa912;
  text-decoration: none;
}
.plants-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.plants-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.plants-navlink1 {
  text-decoration: none;
}
.plants-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-navlink5 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-navlink6 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-navlink7 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.plants-burger-menu {
  display: none;
}
.plants-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plants-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.plants-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.plants-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.plants-logo {
  height: 2rem;
}
.plants-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plants-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plants-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.plants-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.plants-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.plants-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.plants-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.plants-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.plants-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.plants-login {
  margin-right: var(--dl-space-space-twounits);
}
.plants-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plants-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.plants-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.plants-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.plants-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, green 100%);
}
.plants-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.plants-image {
  width: 324px;
  height: 320px;
  object-fit: cover;
}
.plants-hero-sub-heading {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.plants-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.plants-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plants-details1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.plants-container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.plants-details-heading {
  width: 80%;
  text-align: left;
  font-family: "Raleway";
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.plants-details-sub-heading {
  color: var(--dl-color-gray-800);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  margin-bottom: var(--dl-space-space-twounits);
}
.plants-details-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-round);
}
@media(max-width: 991px) {
  .plants-hero1 {
    flex-direction: column;
  }
  .plants-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .plants-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .plants-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .plants-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plants-desktop-menu {
    display: none;
  }
  .plants-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plants-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .plants-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .plants-details1 {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .plants-container2 {
    align-items: center;
    justify-content: flex-start;
  }
  .plants-details-heading {
    text-align: center;
  }
  .plants-details-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .plants-details-image {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .plants-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .plants-mobile-menu {
    padding: 16px;
  }
  .plants-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .plants-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .plants-btn-group {
    flex-direction: column;
  }
}
