.card-background {
    flex: 0 0 auto;
    height: 300px;
    width: 200px;
    background-color: white;
    /* Add margin or padding if needed */
    margin: 5px;
}

.card-box {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line */
    justify-content: space-around;
    /* Adjust as needed */
}