.founders-page {
    background: linear-gradient(-45deg,#95dcf6, #80d993);
  }
  
  .founders-page h1 {
    text-align: center;
    padding: 20px;
    color: #4cc366;
    text-shadow: 2px 2px black;
    font-size: 44px;
  }
  
  .founders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 50px;
  }
  
  .founder-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .founder-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .founder-info {
    padding: 15px;
  }
  
  .founder-info h2 {
    margin-top: 0;
    font-family: "Optima", sans-serif;
    font-weight: 900;
  }
  
  .founder-info p {
    margin-bottom: 5px;
    color: #666;
    font-family: "Gill Sans", sans-serif;
  }